* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#pink {
    --bg-color: rgb(236, 235, 236);
    --text-color: #000000;
    --color-button: #ffffff;
    --bg-button-color: #4064c5;
    --border-img: 4px solid #00082F;
    transition: background 400ms;
}

body#dark-pink{
    --bg-color: #00082F;
    --text-color: #FFFFFF;
    --bg-button-color: #a39df5;
    --border-img: 4px solid #a39df5;
    transition: background 400ms;

}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

#page {
    margin: 64px auto;
    text-align: center;

    width: 300px;
    height: 505px;
}

#logo {
    width: 110px;
    height: 110px;

    border-radius: 50%;
    border: var(--border-img);
    
    padding: 4px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;


    margin: 28px auto 8px;
}

p, a {
    font-size: 18px;
    line-height: 150%;

    margin-bottom: 50px;
    text-decoration: none;

    color: var(--color-button);
}

p a {
    color: var(--text-color);
    transition: 300ms;

}

p a:hover {
    opacity: 0.5;
}

ul {
    margin-bottom: 50px;
    list-style: none;

}

.buttons {
    display: block;

    list-style: none;
    /* color: #FFFFFF; */
    padding: 16px 80px;

    margin-bottom: 16px;
    text-transform: uppercase;
    text-align: center;
    background: var(--bg-button-color);

    border-radius: 6px;

    transition: background 600ms;
}

.buttons:hover {
    background: #22356b;
}

#content-img {
    border-radius: 50%;
    background: #FFFFFF;
}

#img-moon {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
}


/* .youtube:hover {
    background: red;

}

.instagram:hover {
    background: #e752a4;
}

.twitter:hover {
    background: #00d9ff;
} */